#react {
  --primary-color: #61dafb;
}

#preact {
  --primary-color: #673ab8;
}

#vue-v2 {
  --primary-color: #4fc08d;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

input[type='text']:focus {
  border-bottom: 1px solid var(--primary-color) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--primary-color) !important;
}

input[type='text']:focus + label {
  color: var(--primary-color) !important;
}

input[type='checkbox']:not(:checked) + span {
  color: black;
}

input[type='checkbox']:checked + span {
  text-decoration: line-through;
}

input[type='checkbox']:checked + span:before {
  border-right-color: var(--primary-color) !important;
  border-bottom-color: var(--primary-color) !important;
}

.material-icons,
.material-icons:focus {
  background: none;
  border: none;
  outline: inherit;
  padding: 0;
}

.btn {
  background-color: var(--primary-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--primary-color);
  filter: brightness(105%);
}

.material-icons {
  color: var(--primary-color);
}

.material-icons:hover,
.material-icons:focus {
  filter: brightness(105%);
}

.card {
  margin: 0;
}

.card > .section {
  margin: 0;
  background-color: var(--primary-color);
}

.card > .card-content {
  padding-top: 15px;
}

.add-form > .input-field {
  margin: 0;
  padding-left: 0 !important;
}

.add-form > .input-field > label {
  left: 0 !important;
}

.todo-items {
  height: 350px;
  overflow-y: scroll;
}

.todo-items > .todo-item {
  padding: 10px 0;
}

.todo-items > .todo-item > .todo-view,
.todo-items > .todo-item > .todo-form {
  display: flex;
}

.todo-items > .todo-item input {
  height: 24px;
  margin: 0;
}

.todo-items > .todo-item > .todo-view > label,
.todo-items > .todo-item > .todo-form > input {
  flex: 1;
  margin-right: 20px;
}

.todo-items > .todo-item .material-icons {
  margin-left: 5px;
  cursor: pointer;
}
